<h1>EAT THE BURGER!!</h1>

<style>
    body{
        background-color: rgb(192, 125, 67);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        box-sizing: border-box;
    }
    h1 {
        font-size: 70px;
        font-family: fantasy
    }
    .burgerList {
        background-color: goldenrod;
        padding: 3%;
        line-height: 20px;
        border-radius: 5%;
        font-size: 20px;
        width: auto;
        display: float;
        float: left;
    }
    .eatenBurgers {
         background-color: darkred;
        padding: 3%;
        line-height: 20px;
        border-radius: 5%;
        font-size: 20px;
        width: auto;
        display: float;
        float: right;
    }
    .addForm {
        margin-top: 30px;
        margin: auto;
        line-height: 20px;
        font-size: 20px;
        width: 100%;
        margin: 0, auto;
        display: float;
        float: left;
        align-content: center;
    }
    textarea {
        resize: none;
        width: 300px;
        border-radius: 5px;
    }

    button {
        margin-left: 10px;
        padding: 2px;
        border-radius: 5px;
    }
</style>

<ul style="list-style: none;" class="burgerList">
    <h2>EAT ME!!!</h2>
    {{#each burgers}}
     {{#unless this.devoured}}
    <li>
        <p>
            {{this.burger_name}}
            <button data-burgerid="{{this.id}}" class="devourBurger">Eat Me!</button>
        </p>
    </li>
     {{/unless}}
    {{/each}}
</ul>

<ul style="list-style: none;"class="eatenBurgers">
    <h2>DEVOURED!!!</h2>
    {{#each burgers}}
     {{#if this.devoured}}
    <li>
        <p>
            {{this.burger_name}}
            <button data-burgerid="{{this.id}}" class="deleteBurger">Delete Me!</button>
        </p>
    </li>
     {{/if}}
    {{/each}}
</ul>

<div class="addForm">
<h2>ORDER A BURGER</h2>
<form id="addburger" class="button-size">
    <textarea type="text" placeholder="Add a burger here" name="burger"></textarea>
    <button type="submit">Add Me!</button>
</form>
</div>


<script type="text/javascript">

//change a burger to devoured = true
    $(".devourBurger").on("click", function (event) {
        var id = $(this).data("burgerid");

        // Send the UPDATE request.
        $.ajax("/burger/" + id, {
            type: "PUT"
        }).then(
            function () {
                // Reload the page to get the updated list
                location.reload();
            }
            );
    });

    //add a new burger to db
    $("#addburger").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            burger: $("#addburger [name=burger]").val().trim()
        };

        // Send the POST request.
        $.ajax("/burger", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                 // Reload the page to get the updated list
                location.reload();
            }
            );
    });

    //delete burger from devoured list
    $(".deleteBurger").on("click", function (event) {
            var id = $(this).data("burgerid");

            // Send the DELETE request.
            $.ajax("/burger/" + id, {
                type: "DELETE"
            }).then(
                function () {
                    // Reload the page to get the updated list
                    location.reload();
                }
                );
        });

  
</script>